services:
  app:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules # Prevents local node_modules from overwriting container ones
    environment:
      - VITE_PORT=5173