.footer{
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #F9F7F2;
}

.about-us-card-holder {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    margin: 50px;
    box-shadow: 5px 5px 5px 5px #38383862;
}


.about-us-card-item {
    width: 300px;
    transition: transform 0.3s ease;
}



.footer-bottom-info-item {
    text-align: center;
}