
.card-item {
    border: none;
    width: 100%;
    /* Dış kapsayıcıya uyum sağlar */
}

.card-img-container {
    height: 180px;
    /* Tüm resimler için sabit bir çerçeve */
    overflow: hidden;
    background-color: var(--card-img-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Resmin tamamını bozmadan çerçeveye sığdırır */
    padding: 10px;
}

.card-item {
    transition: ease-in 0.15s;
}

.card-item:hover {
    transform: scale(1.1);

}

.d-flex{
    background-color: var(--card-container-background-color);
    color: var(--text-main);
}

.dev-info-list{
    background-color: var(--card-container-background-color);
    color: var(--text-main);
}

.mt-auto{
    background-color: var(--card-container-background-color);
}

.flex-grow-1{
    color: white;
}

.btn-outline-dark{
    background-color: var(--card-github-background);
    color: var(--text-main);
}

.btn-outline-primary{
    background-color: var(--card-linkedin-background);
    color: var(--text-main)
}