.card-item {
    border: none;
    width: 100%; /* Dış kapsayıcıya uyum sağlar */
}

.card-img-container {
    height: 180px; /* Tüm resimler için sabit bir çerçeve */
    overflow: hidden;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Resmin tamamını bozmadan çerçeveye sığdırır */
    padding: 10px;
}