
.what-is-this-website-container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 800px;
    height: 800px;

}

.what-is-this-website-title{

}

.what-is-this-website-paragraph{
    
}