html{
    scroll-behavior: smooth;
}



.main-tables {
  display: flex;       
  flex-direction: row; 
  gap: 20px;           
  align-items: flex-start; /**/
  width: 95%;         
  max-width: 1400px;   
  margin: 20px auto;   
}


.left-panel {
 flex: 0 0 400px; 
}

.right-panel {
  flex: 1; 
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-width: 0; 
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-color: var(--brand-primary) var(--bg-surface);
  max-height: 800px;
  overflow-x: hidden;
}

